.recipe-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100%;
  aspect-ratio: 1 / 1; 
  cursor: pointer;
  transition: all 200ms ease-in-out;

  &:hover {
    background-color: #1a1a1a;
    transition: all 200ms ease-in-out;
  }

  .recipe-image-container {
    width: 100%;
    height: 75%; 
    overflow: hidden;
    border-radius: 8px;

    .recipe-image {
      width: 100%;
      height: 100%;
      object-fit: cover; 
    }
  }

  .recipe-name {
    margin-top: 0.5em;
    font-size: 1.2em;
    text-align: center;
  }
}

@media (max-width: 375px) {
  .recipe-list-item {
    .recipe-name {
      font-size: 1.1em;
    }
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .recipe-list-item {
    .recipe-name {
      font-size: 1.4em;
    }
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .recipe-list-item {
    width: 42%; 

    .recipe-name {
      font-size: 1.6em;
    }
  }
}

@media (min-width: 1025px) {
  .recipe-list-item {
    width: 45%; 
    // height: 400px; 

    .recipe-name {
      font-size: 1.6em;
    }
  }
}
